html,body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
*{
    margin: 0;
}
body{
    display: flex;
    flex-flow:column;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding: 1em;
    align-self: flex-start;
    margin-bottom: 3em;
    background-color: rgb(43, 119, 190);
    width:97.2%;
}
#you{
    width: 100%;
    border-radius: 25px;
    border: 2px solid gray;
    background-color: white;
    margin-right: 1em;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    padding: 25px;
    margin-top: 8em;
}
#matches{
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}
header h1 {
    margin-left: 0.5em;
    font-size: 2.5em;
}
a{
    text-decoration: none;
    color: white;
}
#matches h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 2.3em;
    text-decoration: underline;
}
h1,h4{
    color: rgb(43, 119, 190);
}
div{
    background-color: white;
    border: 2px solid gray;
    padding: 1em;
    border-radius: 10px;
    width: 75%;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
}
#info{
    min-width: 30%;
    margin-right: 7em;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#you p{
    font-size: 1.5em;
    text-align: left;
}
#you h1{
    font-size: 2.3em;
    text-decoration: underline;
    margin-bottom: 25px;
}

#interest_btn, #career_btn{
    margin-top:15px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 16px;
}
#interest_btn
{
    margin-right: 15px;
}
#interest_btn span{
    color: rgb(43, 119, 190);;
    text-decoration: underline;
}
#career_btn span{
    color: rgb(43, 119, 190);
    text-decoration: underline;
    font-weight: bol
}
