html,body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
*{
    margin: 0;
}
h1,p,label,legend{
    color: black;
}
section h1{
    color: white;
    font-size: 2.2em;
}
li{
    list-style-type: none;
    display: flex;
}
body{
    display: flex;
    flex-flow:column;
    align-items: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
    padding: 1em;
}
fieldset{
    margin-bottom: 0.5em;
    display: flex;
    border: 0;
    margin-bottom: 1em;
}
form{
    background-color: white;
    border-radius: 50px;
    padding: 3em;
    width: 30em;
}
form h1{
    text-align: center;
}
label{
    flex: 1 0 1em;
    margin-right: 10px;
}
li{
    margin-bottom: 5px;
}
legend{
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(43, 119, 190);
}
button{
    margin: 2em 0em 0em 31.8em;
    display: block;
}
header{
    padding: 1em;
    align-self: flex-start;
    margin-bottom: 3em;
    background-color:rgb(29, 94, 155);
    width:97.2%
}
header h1 {
    margin-left: 0.5em;
    font-size: 2.5em;
}
a{
    text-decoration: none;
    color: white;
}
i {
    color: rgb(3, 184, 18);
    margin-right: 10px;
    margin-left: -25px;
}
#new_hobbies{
    width: 100%;
}
#new_goals{
    width: 100%;
}