html,body
{
    width:100%;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-flow:column;
    align-items: center;
    /*Image source: https://www.pexels.com/search/website%20background/*/
    background-image: url(../images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5em;
}
*{
    margin: 0;
}
header{
    padding: 1em;
    align-self: flex-start;
    margin-bottom: 1em;
    background-color:rgb(29, 94, 155);
    width:97.2%
}
header h1 {
    margin-left: 0.5em;
    font-size: 2.5em;
}
a{
    text-decoration: none;
    color: white;
}
p,label,legend{
    color: black;
}
legend{
    margin-bottom: 1em;
    color: rgb(43, 119, 190);
}
body>h1{
    color: white;
    font-size: 2.2em;
    padding: 16px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-bottom: 2px solid white;
}
li{
    list-style-type: none;
    display: flex;
}
#display{
    background-color: white;
    border-radius: 50px;
    padding: 3em;
    width: 30em;
}
#display h1{
    text-align: center;
}
label{
    flex: 1 0 1em;
    margin-right: 10px;
}
li{
    margin-bottom: 5px;
}
legend{
    font-weight: bold;
    font-size: 1.2em
}
#submitBtn{
    margin: 2em 0em 0em 31.8em;
    display: block;
}
#mentorBtn
{
    margin: 2em 0em 0em 26.8em;
    display: block;
}
i
{
    color: rgb(3, 184, 18);
    margin-right: 10px;
    margin-left: -25px;
}
#hobbies
{
    width: 141.5px;
}
#new_hobbies{
    width: 100%;
}
#new_goals{
    width: 100%;
}