html,body{
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
	display: flex;
	flex-flow: row;
    /*Image source: https://www.burchcom.com/types-of-backgrounds-for-modern-websites/*/
    background-image:url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#welcome{
    padding: 100px;
}

#welcome h1
{
    font-size:2.5em;
    color:rgb(43, 119, 190);
    text-decoration: underline;
    margin-bottom: 25px;
}

h1, h2, h3, label 
{
    color: rgb(43, 119, 190)
}

a:visited, a:link{
    color:black;
    text-decoration: none;
}

#aboutUs
{
    background-color: rgba(255, 255, 255, 0.644);
    border: 1px solid gray;
    padding: 0px 30px 20px 30px ;
    border-radius: 25px;
}

#logIn{
	border: 1px solid gray;
    padding: 20px;
	justify-self: flex-end;
	margin-top: 3em;
	margin-right: 3em;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 25px;
}

#welcome h1, #logIn h3{
	text-align:center;
    margin-top:0px;
}

#logInBtn
{
    margin:15px 0px ;
}

#errorMsg
{
    color:red;
    min-height: 20px;
}

#info{
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
}
